<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Editar alumno</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="shortcut icon" href="https://images.emojiterra.com/google/android-11/512px/1f9d1-1f393.png" type="image/png" />

<link rel="stylesheet" href="style.css">

</head>
<body class="bg-info">
	<div class="position-absolute top-50 start-50 translate-middle ">
		<div class="text-center">
			<img src="https://pngimg.com/uploads/student/small/student_PNG62548.png" style="width: 70%" />
		</div>

		<div class="text-center">
			<h1>Alta alumno</h1>

			<form th:object="${alumno_v}" th:action="@{/guardarAlumno}" class="form-horizontal">
				<div class="form-group row">
					<label class="col">id alumno </label>
					<input type="text" class="form-control col" th:field="*{id_alumno}">
					<span th:if="${#fields.hasErrors('id_alumno')}"> Error id_alumno </span>
				</div>
				
				<div class="form-group row">
					<label class="col">nombre </label>
					<input type="text" class="form-control col" th:field="*{nombre}">
					<span th:if="${#fields.hasErrors('nombre')}"> Error nombre </span>
				</div>
				
				<div class="form-group row">
					<label class="col">nota </label>
					<input type="text" class="form-control col" th:field="*{nota}">
					<span th:if="${#fields.hasErrors('nota')}"> Error nota </span>
				</div>
				
				<br>
				<button type="submit" class="btn btn-success">ALTA</button>
				<button type="reset" class="btn btn-danger">RESET</button>
				<a class="btn btn-primary" th:href="@{/index}">Volver al index</a>

			</form>
			
			<p th:text="${mensaje}"></p>



		</div>


	</div>








	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>